.square {

	width: 300px; 
	height: 300px; 
	border-style: solid; 
	border-width: 3px; 
	border-color: purple;
	background-color: lavender;

	position: fixed;
	left: 50%;
	top: 50%;

	margin-left: -150px;
	margin-top: -150px;

	text-align: center;

}

.circle {

	width: 200px;
	height: 200px;
	border: solid 5px plum;
	border-radius: 100px;
	text-align: center;

	background-color: pink;
	position: relative;

}

.filho {

	position: absolute;
	left: 50%;

	background-color: blue;
	width: 100px;
	height: 100px;
	border-radius: 10px;

	right: 0px;
	bottom: 0px;

	z-index: 2;

}

.adotado {

	width: 100px;
	height: 100px;

	bottom: 20px;
	right: 20px;

	position: absolute;
	background-color: red;
	border-radius: 10px;

	z-index: 1;
}

.enteado {
	width: 100px;
	height: 100px;

	bottom: -15px;
	right: 20px;

	position: absolute;

	background-color: blueviolet;
	border-radius: 10px;

}

.rectangle {

    width: 300px;
	height: 200px;
    border-style: solid; 
	border-width: 3px; 
	border-color: blue;

	background-color: lightblue;
}

input {

	color: darkviolet;
	border: 2px solid violet;
	border-radius: 5px;

}